#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/4788e205-137b-4b48-b263-c718a5c5b878/ # 
title: online shopping 
version: 1.0.0
/user:
  post:
    body:
      application/json:
        example: !include example/postuser.json
       
    responses:
      201:
        body:
          application/json:
            example:
              {
             "uid": 1037
              }
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/getuser.json
/products:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/getproduct.json
             
    
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/getproductid.json
                   
/categories:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/getcategories.json
    
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/getcategoriesid.json
  
/orders:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/getorders.json
      
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/getordersid.json
               
  post:
        body:
          application/json:
            example: !include example/postorders.json
     
        responses:
          201:
            body:
              application/json:
                example:
                  {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.479+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}


  
  


              

